.tabuleiroStyle{
    width: 500px;
    height: 500px;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.campo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 10px;
    border-radius: 10px;
    

}
