.tabuleiroStyle{
    width: 500px;
    height: 500px;
    display: flex;
    background-color: rgb(107, 107, 107);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.campo{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
